<%= @user.first_name %>
<ul>
  <% @programmes.each do |programme| %>
    <li>
      <%= programme.name %>
      <%= link_to "Add to Pathways", "#", class: 'btn btn-primary' %>
    </li>
    <!-- Parent controller -->
    <div data-controller="modal">
      <!-- Trigger -->
      <div class="btn btn-primary" data-action="click->modal#showModal">show modal</div>
      <!-- Modal Wrapper -->
      <div class="modal-wrapper" data-modal-target="popup">
        <!-- Close Btn -->
        <i class="fa fa-times fa-2x" data-action="click->modal#hideModal"></i>
        <!-- Content -->
        <div class="container">
          <div class="modal-content">
            can have anything inside
          </div>
        </div>
      </div>
    </div>
  <% end %>
</ul>
<div class="container">
  <%= render partial: "shared/accordion", locals: {items: @programmes} %>
</div>
