<h2 class='white-header text-dark text-center fw-bold p-3'>Your Careers</h2>
<div class="background"></div>
<div class="container">
  <style>
    #graph {
      margin: 0;
    }
  </style>

  <script style="height: 400px;" src="//unpkg.com/force-graph"></script>


  <div id="graph"></div>

  <script>
    // Random tree
    const NODES = 8;
    const GROUPS = 5;
    const gData = {
      nodes: [...Array(NODES).keys()].map(i => ({
        id: i,
        group: Math.ceil(Math.random() * GROUPS)
      })),
      links: [...Array(NODES).keys()].filter(id => id).map(id => ({
        source: id,
        target: Math.round(Math.random() * (id - 1))
      }))
    };


    const Graph = ForceGraph()(document.getElementById('graph')).graphData(gData).linkDirectionalParticles(2).nodeRelSize(12).height(300).width(1116).nodeAutoColorBy('group').linkAutoColorBy(d => gData.nodes[d.source].group);

    Graph.d3Force('center', null);

    // fit to canvas when engine stops
    Graph.onEngineStop(() => Graph.zoomToFit(400));
  </script>

  <%= render partial: "shared/accordion", locals: {items: @careers} %>
</div>
