<h2 class='white-header text-dark text-center fw-bold p-3'>Your Careers</h2>
<div class="background"></div>
<div class="container">
  <style>
    #graph {
      margin: 0;
    }
  </style>

  <script style="height: 400px;" src="//unpkg.com/force-graph"></script>


  <div id="graph"></div>

  <script>
    fetch('graph.json')
    .then(res => res.json())
    .then(data => {
      const Graph = ForceGraph()
      (document.getElementById('graph'))
      .graphData(data)
      .nodeId('id')
      .nodeVal('val')
      .nodeLabel('id')
      .linkSource('source')
      .linkTarget('target');
    });
  </script>

  <%= render partial: "shared/accordion", locals: {items: @careers} %>
</div>
