<h2 class='white-header text-dark text-center fw-bold p-3'>Your Careers</h2>
<div class="background"></div>
<div class="container">
  <style>
    #graph {
      margin: 0;
    }
  </style>

  <script style="height: 400px;" src="//unpkg.com/force-graph"></script>


  <div id="graph"></div>

  <script>
    // Random tree
    const N = 100;
    const gData = {
      nodes: [...Array(N).keys()].map(i => ({id: i})),
      links: [...Array(N).keys()].filter(id => id).map(id => ({
        source: id,
        target: Math.round(Math.random() * (id - 1))
      }))
    };


    const Graph = ForceGraph()(document.getElementById('graph')).linkDirectionalParticles(2).height(400).width(1116).graphData(gData);

    Graph.d3Force('center', null);

    // fit to canvas when engine stops
    Graph.onEngineStop(() => Graph.zoomToFit(400));
  </script>

  <%= render partial: "shared/accordion", locals: {items: @careers} %>
</div>
