<div class="footer">
  <div align="center" class="first-line">
    <p>&copy;2023 MyPathwaysFuture</p>
  </div>
  <div class="second-line d-flex align-items-center">
    <div class="second-line-col">
      <p>deepikajoshi1</p>
    </div>
    <div class="second-line-col">
      <p>javadrip</p>
    </div>
    <div class="second-line-col">
      <p>jwltay</p>
    </div>
    <div class="second-line-col">
      <p>leezhiqin96</p>
    </div>
  </div>
</div>
