<div class="footer border-top border-body-color">
  <div class="first-line d-flex justify-content-center">
    <p>&copy;2023 MyPathwaysFuture</p>
  </div>
  <div class="second-line d-flex align-items-center">
    <div class="second-line-col">
      <%= link_to "deepikajoshi1", 'https://github.com/deepikajoshi1' %>
    </div>
    <div class="second-line-col">
      <%= link_to "javadrip1", 'https://github.com/jwltay' %>
    </div>
    <div class="second-line-col">
      <%= link_to "jwltay1", 'https://github.com/leezhiqin96' %>
    </div>
    <div class="second-line-col">
      <%= link_to "leezhiqin96", 'https://github.com/javadrip' %>
    </div>
  </div>
</div>
