<div class="footer border-top border-body-color">
  <div align="center" class="first-line">
    <p>&copy;2023 MyPathwaysFuture</p>
  </div>
  <div class="second-line d-flex align-items-center">
    <div class="second-line-col">
      <%= link_to "deepikajoshi1", new_user_session_path, class: "nav-link border-end" %>
    </div>
    <div class="second-line-col">
      <%= link_to "javadrip1", new_user_session_path, class: "nav-link border-end" %>
    </div>
    <div class="second-line-col">
      <%= link_to "jwltay1", new_user_session_path, class: "nav-link border-end" %>
    </div>
    <div class="second-line-col">
      <%= link_to "leezhiqin96", new_user_session_path, class: "nav-link border-end" %>
    </div>
  </div>
</div>
