<%# ------------------ AJAX json jbuilder insert ---------------------------- %>

 <div class="d-flex justify-content-between" data-controller="todo-list">
  <%= simple_form_for(task,
    data: {
      todo_list_target: "checkboxForm",
      action: "change->todo-list#markComplete"
    }) do |f| %>
    <%= f.input :completed,
        label: task.title,
        input_html: {
          class: "check-box",
          data: {
            todo_list_target: "checkbox"
          }
        }  %>
  <% end %>
  <div>
    <%= link_to '<i class="fa-regular fa-trash-can"></i>'.html_safe, task_path(task),
      data: {
        turbo_method: :delete,
        action: "click->todo-list#deleteTask"
      },
      class: "trash-icon" %>
  </div>
</div>
