
<div class="pathway-index teal-background vh-100 d-flex flex-column justify-content-center">
  <h2 class='white-header text-dark text-center fw-bold p-3'>Your Pathways</h2>
  <div class="container">
    <div class="beige-info-card row justify-content-evenly h-100">
      <%= render @pathways %>
    </div>
  </div>
</div>
