<h2 class='white-header text-dark text-center fw-bold p-3'>Your Pathways</h2>


<div class="background"></div>

<div class="container">

  <div class="beige-info-card row justify-content-evenly my-4">
    <%= render @pathways %>
  </div>

</div>
