<ul>
  <% @pathways.each do |pathway| %>
    <li>
      <% if pathway.active %>
        <%= pathway.programme.name %>
        <%= link_to "Set as Goal", "#", class: 'btn btn-danger' %>
      <% end %>
    </li>
  <% end %>
</ul>

<div class="container">
  <div
    class="accordions"
    data-controller="accordion"
  >
    <div class="accordion-card">
      <button
        class="accordion"
        data-action="click->accordion#expand"
      >
        Section 1
      </button>
      <div
        class="panel"
        data-accordion-target="panel"
      >
        <p>Part 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>

     <div class="accordion-card">
      <button
        class="accordion"
        data-action="click->accordion#expand"
      >
        Section 2
      </button>
      <div
        class="panel"
        data-accordion-target="panel"
      >
        <p>Part 2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>

     <div class="accordion-card">
      <button
        class="accordion"
        data-action="click->accordion#expand"
      >
        Section 3
      </button>
      <div
        class="panel"
        data-accordion-target="panel"
      >
        <p>Part 3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>
</div>
