<ul>
  <% @pathways.each do |pathway| %>
    <li>
      <% if pathway.shortlisted %>
        <%= pathway.programme.name %>
        <%= link_to "Set as Goal", "#", class: 'btn btn-danger' %>
      <% end %>
    </li>
  <% end %>
</ul>
