.accordions {
  margin: 32px 0 32px 0;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
}

.career-accordions {
  margin: 32px 0 32px 0;
}

.accordion-card {
  background-color: white;
  display: block;
  width: 100%;
  padding: 16px;
  border-left: 2px solid transparent;
  border-radius: 8px;
  box-shadow: 0 0.5rem 1rem rgba($black, 0.15);

  &.active {
    .panel {
      display: block;
    }
  }

  &:hover {
    background-color: $beige;
    border-left: 4px solid $teal;
  }

  .accordion-card-headers {
    :hover {
      cursor: pointer;
    }

    h2 {
      font-size: 28px;
      color: $dark;
    }

    .btn {
      font-size: 14px;
    }
  }

  .panel {
    display: none;
    height: max-content;
    margin-top: 16px;

    .panel-button {
      .btn {
        font-size: 14px;
        color: $dark;
      }

      .hidden {
        color: white;
      }
    }
  }

  .panel-summary {
    p {
      font-size: 14px;
    }
  }
}

.career-accordion-card {
  background-color: white;
  position: relative;
  display: block;
  width: 100%;
  padding: 16px;
  border-left: 2px solid transparent;

  & + .career-accordion-card {
    border-top: 0.8px solid #e4e7ea;
  }

  &.active {
    .panel {
      display: block;
    }
  }

  &:hover {
    background-color: $beige;
    border-left: 4px solid $teal;
  }

  .accordion-card-headers {
    :hover {
      cursor: pointer;
    }

    h2 {
      font-size: 28px;
      color: $dark;
    }

    .btn {
      font-size: 14px;
    }
  }

  .panel {
    display: none;
    height: max-content;
    margin-top: 16px;

    .panel-button {
      .btn {
        font-size: 14px;
        color: $dark;
      }

      .hidden {
        color: white;
      }
    }
  }

  .panel-summary {
    p {
      font-size: 14px;
    }
  }
}

.accordion-card {
  overflow: hidden;
}

.accordion-card.active:hover .shortlist {
  opacity: 1;
  transform: translateY(0);
}

.career-accordion {
  border-radius: 8px !important;
  margin: 0 0 32px 0;
}

/* styles for smartphones */
@media only screen and (max-device-width: 480px) {
  /* styles for smartphones */
  .accordion-card-headers {
    text-align: center;
    .btn {
      display: none;
    }
  }

  .panel-summary {
    width: 100%;
    text-align: center;
  }

  .panel-button {
    .btn {
      width: 100%;
    }

    .hidden {
      margin-top: 16px;
      display: block;
    }
  }
}

/* styles for tablets */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  /* styles for tablets */
  .accordion-card-headers {
    .btn {
      display: none;
    }
  }

  .panel-summary {
    width: 100%;
  }

  .panel-button {
    display: flex;
    justify-content: space-between;
  }
}

/* styles for desktops */
@media only screen and (min-device-width: 1025px) {
  /* styles for desktops */
  .accordion-card-headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .panel-summary:not(.careers-overview) {
    width: 70%;
  }

  .panel-button {
    .hidden {
      display: none;
    }
  }
}

// styling for bookmark indicator in career index

#career-bookmark-indicator {
  position: absolute;
  top: 0;
  right: 16px;
}
