.hero-banner-background {
  background-color: $teal;
}

.banner-content {
  margin: 0px 120px 0px 150px;
}

.hero-banner-image {
  width: 700px;
}

.cta-banner-background {
  background-color: $teal;
  height: 600px;
}
