.hero-banner-background {
  background-color: $teal;
}

.banner-content {
  margin: 0px 120px 0px 150px;
}

.hero-banner-image {
  width: 700px;
}

.cta-banner-background {
  background-color: $light-gray;
  height: 100%;
}

.cta-banner-image {
  width: 500px;
}

.banner-green {
  background-color: $teal;
  height: 20rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;

  .container {
    padding-inline: 5rem;
  }
}
