.background {
  background-color: $teal;
  height: 500px;
  position:absolute;
  top: 129px;
  width: 100%;
  z-index: -2;
}

.bg-info {
  position: relative;
  font-size: 14px;
  height: 350px;

  &.hidden  {
    box-shadow: none;
    & > * {
      opacity: 0.5;
    }
  }
}

#pop-up {
  position: absolute;
  font-size: 10px;
  top: 0px;
  right: 8px;
  background: $purple;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 24px;
  z-index: -1;
  opacity: 0;
  border-radius: 2px;
  color: white;
}

.bg-info:hover > #pop-up {
  opacity: 1;
  top: -26px;
  transition: 300ms ease;
}

.form-check {
  display: none;
}

.hidden-space {
  opacity: 0;
  height: 54px;
}
