.shortlist {
  text-decoration: none;
  color: $pink;
  border: none;
  font-size: 32px;
  background-color: transparent;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 0;
  top: -16px;
  opacity: 0;
  transform: translateY(-50px);
  z-index: 10;
  transition: 300ms;
}

.shortlist.shortlisted {
  text-shadow: 2px 2px $light-gray;
  color: $pink;
  background-color: transparent;
  opacity: 1;
  transform: translateY(0);
}

.shortlist:hover {
  font-size: 38px;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  gap: 16px;

  .btn-danger {
    color: white;
    box-shadow: 0 .125rem .25rem rgba($black, .075);
  }

  .btn-primary {
    color: white;
    padding: 6px 24px 6px 24px;
    box-shadow: 0 .125rem .25rem rgba($black, .075);
  }
}
