.shortlist {
  text-decoration: none;
  background-color: #88619a;
  color: white;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transform: translateY(-50px);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
  transition: 300ms;
}

.shortlist.shortlisted {
  background-color: #1edd88;
  opacity: 1;
  transform: translateY(0);
}

.shortlist:hover {
  padding: 0.5rem 2rem;
  color: white;
}
