.shortlist {
  text-decoration: none;
  color: $purple;
  border: none;
  font-size: 32px;
  background-color: transparent;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transform: translateY(-50px);
  z-index: 10;
  transition: 300ms;
}

.shortlist.shortlisted {
  background-color: #1edd88;
  opacity: 1;
  transform: translateY(0);
}

.shortlist:hover {
  font-size: 38px;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  gap: 16px;

  .btn-danger {
    color: white;
  }
}
