.graph canvas {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  margin-right: 8px;
  position: sticky !important;
  top: 0;
}

.details-graph canvas {
  // margin-bottom: 16px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  // box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}
