.feature-cards-container {
}

.card-beige-small {
  background-color: $beige;
  height: 600px;
}

.card-beige-small-image {
  height: 200px;
  margin: 0 auto;
  display: block;
}

.card-dashboard-pathway-image {
  height: 100px;
}

.border-primary {
  transition: 0.5s;
  &:hover {
    border-color: $danger !important;
    transition: 0.5s;
  }
}
