.feature-cards-container {
}

.card-beige-small {
  background-color: $beige;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.card-beige-small-image {
  height: 200px;
  margin: 0 auto;
  display: block;
}

.card-dashboard-pathway-image {
  height: 100px;
}

.border-primary {
  transition: 0.5s;
  &:hover {
    border-color: $danger !important;
    transition: 0.5s;
  }
}

.info-cards {
  margin-top: 16px;
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
  grid-gap: 10px;
  word-wrap: break-word;

  .pathway-card {
    height: 20vh;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;

    i {
      font-size: 32px;
    }
    p {
      margin: 0;
      font-size: 1.6rem;
    }

    h4 {
      font-size: 0.8rem;
      opacity: 0.8;
      margin:0;
    }
  }
}
