ul#countdown {
  position: relative;
  margin: 0 auto;
  color: rgb(99, 99, 99);
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  font-family: $headings-font-family;

  li {
    padding: 0;
    display: inline-block;
    width: 20%;
    font-size: 48px;
    text-align: center;

    .label {
      font-size: 14px;
      opacity: 70%;
      text-transform: lowercase;
      text-align: start;
      margin-top: -16px;
      margin-left: 70px;
    }
  }

  .numbers {
    display: flex;
    justify-content: center;
    margin-left: -16px;
  }
}
