.footer {
  background: white;
  padding-bottom: 5px;
  padding-top: 20px !important;
  color: #737373;
  font-size: 14px;
}

.second-line {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

.second-line-col {
  padding-left: 2rem;
  padding-right: 2rem;
}

.second-line-col a {
  color: #737373;
  text-decoration: none;
}

.second-line-col a:hover {
  color: rgb(50, 50, 50);
}

.footer-padding {
  padding-bottom: 4rem;
}
