.background {
  background-color: $teal;
  position: relative;
  z-index: 0;
}

.pathway-card {
  position: relative;
  font-size: 14px;
  height: 350px;
  transform-style: preserve-3d;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  &.hidden  {
    box-shadow: none;
    background-color: #e8e6e1 !important;
    & > * {
      opacity: 0.5;
    }
  }

  &.goal {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
  }
}

#pop-up {
  position: absolute;
  font-size: 10px;
  top: 0px;
  right: 8px;
  background: $pink;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 24px;
  opacity: 1;
  border-radius: 2px;
  color: white;
  transform: translateZ(-10px)
}

.bg-info:not(.goal, .hidden):hover > #pop-up {
  opacity: 1;
  top: -26px;
  transition: 300ms ease;
}

.hidden-space {
  opacity: 0;
  height: 54px;
}
